{% filter remove_whitespace %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ settings.title }}</title>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" media="screen" href="/stylesheets/style.css"/>
    <link rel="stylesheet" media="screen" href="/stylesheets/dark.css"/>
  </head>
  <body>
    <center>
      {{ boardlist.top }}

      <header>
        <h1>{{ settings.title }}</h1>
        <div class="subtitle">{{ settings.subtitle }}</div>
      </header>

      <img alt="mascot" src="static/lain_is_cute_datass_small.png"/>
    </center>

    <div class="ban" style="text-align: left!important;">
      <h2>GLOBAL</h2>
      <ol>
        <li>Do not upload, post, discuss, request, or link to,
        anything that violates local or United States law. This will
        be severely punished and strictly enforced.</li>

        <li>Do not post in or view any boards if you are under 18
        years of age.</li>

        <li>Do not post unspoilered adult content on worksafe boards,
        these being any but /c/ and /l/.</li>

        <li>Do not misuse the report function.</li>

        <li>Feature requests should only be made on /q/.</li>

        <li>Do not spam or advertise.</li>

        <li>Impersonation of lainchan administrators, moderators, or
        janitors is not allowed.</li>

        <li>Do not post from proxies, VPNs, or Tor exit nodes and do
        not use bots of any kind to automate posting to lainchan.</li>

        <li>Do not post GETs. (unless it's a really good one)</li>

        <li>Don't be a dick.</li>

        <li>Do not embed malicious files into uploads</li>
      </ol>
    </div>
  </body>
</html>
{% endfilter %}
