{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ settings.title }}</title>
	<link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}"/>
	<link rel="stylesheet" media="screen" href="{{ config.root }}{{ settings.css }}"/>
	{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}" />{% endif %}
	{% if not nojavascript %}
		<script type="text/javascript" src="{{ config.url_javascript }}"></script>
		{% if not config.additional_javascript_compile %}
			{% for javascript in config.additional_javascript %}<script type="text/javascript" src="{{ config.additional_javascript_url }}{{ javascript }}"></script>{% endfor %}
		{% endif %}
	{% endif %}
</head>
<body>
	{{ boardlist.top }}
	<header>
		<h1>{{ settings.title }}</h1>
		<div class="subtitle">{{ settings.subtitle }}</div>
	</header>
	
	<div class="box-wrap">
		<div class="box left">
			<h2>{% trans %}Recent Images{% endtrans %}</h2>
			<ul>
				{% for post in recent_images %}
					<li>
						<a href="{{ post.link }}">
							<img src="{{ post.src }}" style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px" alt="">
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="box right">
			<h2>{% trans %}Latest Posts{% endtrans %}</h2>
			<ul>
				{% for post in recent_posts %}
					<li>
						<strong>{{ post.board_name }}</strong>: 
						<a href="{{ post.link }}">
							{{ post.snippet }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="box right">
			<h2>{% trans %}Stats{% endtrans %}</h2>
			<ul>
				<li>{% trans %}Total posts{% endtrans %}: {{ stats.total_posts }} (24h: {{ stats.today_posts }})</li>
				<li>{% trans %}Unique posters{% endtrans %}: {{ stats.unique_posters }} (24h: {{ stats.unique_posters_24h }})</li>
			</ul>
		</div>
	</div>
	
	<hr/>
	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">2013-2014 Alokal.eu<br>Založené na <a target="_blank" href="https://github.com/vichan-devel/vichan.git">vichan</a></p>
	</footer>
</body>
</html>
{% endfilter %}
