{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<script type='text/javascript'>
		active_page = "catalog";
	</script>
	{% include 'header.html' %}
	<script type="text/javascript" src="/js/catalog.js"></script>
	<script type="text/javascript" src="/js/jquery.mixitup.min.js"></script>
	<script type="text/javascript" src="/js/jquery.tooltipster.min.js"></script>
	<title>{{ board }} - {% trans 'Catalog' %}</title>
</head>
<body class="theme-catalog">
	{{ boardlist.top }}
	<header>
		<h1>{{ settings.title }} (<a href="{{link}}">/{{ board }}/</a>)</h1>
		<div class="subtitle">{{ settings.subtitle }}</div>
	</header>

        <span>{% trans 'Sort by' %}: </span>
        <select id="sort_by" style="display: inline-block">
                <option selected value="bump:desc">{% trans 'Bump order' %}</option>
                <option value="time:desc">{% trans 'Creation date' %}</option>
                <option value="reply:desc">{% trans 'Reply count' %}</option>
                <option value="random:desc">{% trans 'Random' %}</option>
        </select>
        <div class="threads">
                <div id="Grid">
                {% for post in recent_posts %}
                        <div class="mix"
				data-reply="{{ post.reply_count }}"
				 data-bump="{{ post.bump }}"
				 data-time="{{ post.time }}"
			>
                                <div class="thread grid-li grid-size-small">  
                                        <a href="{{post.link}}">  
						{% if post.youtube %}
							<img src="https://img.youtube.com/vi/{{ post.youtube }}/0.jpg" 
						{% else %}
							<img src="{{post.file}}" 
						{% endif %}
                                                 id="img-{{ post.id }}" data-subject="{% if post.subject %}{{ post.subject }}{% endif %}" data-name="{{ post.name }}" data-muhdifference="{{ post.muhdifference }}" data-last-reply="{% if post.last_reply %}{{ post.last_reply }}{% endif %}" data-last-subject="{% if post.last_reply_subject %}{{ post.last_reply_subject }}{% endif %}" data-last-name="{% if post.last_reply %}{{ post.last_reply_name }}{% endif %}" data-last-difference="{% if post.last_reply %}{{ post.last_reply_difference }}{% endif %}" class="{{post.board}} thread-image" title="{{post.bump|date('%b %d %H:%M')}}">
                                        </a>
                                                <div class="replies">
                                                        <strong>Odpovedí: {{ post.reply_count }} / Obrázkov: {{ post.image_count }}</strong>
                                                        {% if post.subject %}
								<p class="intro">
									<span class="subject">
										{{ post.subject }}
									</span>
								</p>
							{% else %}
								<br />
							{% endif %}

								{{ post.body }}
                                                </div>
                                </div>
                        </div>
                {% endfor %}
                </div>
        </div>
	
	<hr/>
	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">- <a href="http://tinyboard.org/">Tinyboard</a> + 
			<a href='https://int.vichan.net/devel/'>vichan</a> {{ config.version }} -
		<br><a href="http://tinyboard.org/">Tinyboard</a> Copyright &copy; 2010-2014 Tinyboard Development Group    
		<br><a href="https://int.vichan.net/devel/">vichan</a> Copyright &copy; 2012-2014 vichan-devel</p>
	</footer>
	<script type="text/javascript">{% raw %}
		var styles = {
			{% endraw %}
			{% for name, uri in config.stylesheets %}{% raw %}'{% endraw %}{{ name|addslashes }}{% raw %}' : '{% endraw %}/stylesheets/{{ uri|addslashes }}{% raw %}',
			{% endraw %}{% endfor %}{% raw %}
		}; onready(init);
	{% endraw %}</script>

	<script type="text/javascript">{% raw %}
		ready();
	{% endraw %}</script>
</body>
</html>
{% endfilter %}
