{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<script type='text/javascript'>active_page="catalog";</script>
	{% include 'header.html' %}
	<title>{{ settings.title }}</title>
</head>
<body class="theme-catalog">
	{{ boardlist.top }}
	<header>
		<h1>{{ settings.title }} (<a href="{{link}}">/{{ board }}/</a>)</h1>
		<div class="subtitle">{{ settings.subtitle }}</div>
	</header>
	<hr/>
	<ul>
	{% for post in recent_posts %}
		<div class="thread">
			<a href="{{post.link}}">
			{% if post.youtube %}
				<img src="http://img.youtube.com/vi/{{ post.youtube }}/0.jpg" class="{{post.board}}" title="{{post.bump|date('%b %d %H:%M')}}">
			{% elseif post.file %}
				<img src="{{post.file}}" class="{{post.board}}" title="{{post.bump|date('%b %d %H:%M')}}">
			{% endif %}
			</a>
			<span class="replies">
				<strong>{% trans %}1 reply{% plural post.reply_count %}{{ count }} replies{% endtrans %}</strong><br/>
				{{ post.body }}
			</span>
		</div>
	{% endfor %}
	</ul>
	
	<hr/>
	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">2013-2014 Alokal.eu<br>Založené na <a target="_blank" href="https://github.com/vichan-devel/vichan.git">vichan</a></p>
	</footer>
		<script type="text/javascript">ready();</script>
</body>
</html>
{% endfilter %}
