/**
 * dark.css
 * For AwsumChan by Circlepuller
 */
body {
	background: #1e1e1e;
	color: #999999;
	font-family: sans-serif;
	font-size: 12px;
}
span.quote {
    color:#d96262;
}
h1 {
    font-family: tahoma;
    letter-spacing: -2px;
    font-size: 18pt;
    
}
h1 {
	font-size: 20pt;
	text-align: center;
	letter-spacing: -2px;
	color: #DD3232;
}
h2 {
	font-size: 20pt;
	text-align: center;

	color: #DD3232;
}
header div.subtitle {
    color: #DD3232;
}
div.title {
	color: #DD3232;
	font-family: Arial, Helvetica, sans-serif;
}
div.title p {
	font-size: 10px;
}
a:link, a:visited, p.intro a.email span.name {
	color: #CCCCCC;
	text-decoration: none;
	font-family: sans-serif;
}
a:link, a:visited, p.intro a.email span.name, input, textarea, .post {
        -moz-transition: 0.15s text-shadow, 0.15s border-color, 0.15s background-color, 0.15s color;
	-webkit-transition: 0.15s text-shadow, 0.15s border-color, 0.15s background-color, 0.15s color;
	-khtml-transition: 0.15s text-shadow, 0.15s border-color, 0.15s background-color, 0.15s color;
	-o-transition: 0.15s text-shadow, 0.15s border-color, 0.15s background-color, 0.15s color;
	-ms-transition: 0.15s text-shadow, 0.15s border-color, 0.15s background-color, 0.15s color;
	transition: 0.15s text-shadow, 0.15s border-color, 0.15s background-color, 0.15s color;
}

a:link:hover, a:visited:hover {
	color: #DD3232;
	font-family: sans-serif;
	text-decoration: none;
}
a.post_no {
	color: #AAA;
	text-decoration: none;
}
p.intro a.post_no:hover {
        color: #DD3232!important;
}
div.post.reply {
	background: #333333;
	border: #555555 1px solid;

}
div.post.reply.highlighted {
	background: #555;
	border: transparent 1px solid;
}
div.post.reply div.body a:link, div.post.reply div.body a:visited {
	color: #CCCCCC;
}
div.post.reply div.body a:link:hover, div.post.reply div.body a:visited:hover {
	color: #DD3232;
}
p.intro span.subject {
	font-size: 12px;
	font-family: sans-serif;
	color: #664445;
	font-weight: 800;
}
p.intro span.name {
	color: #DD3232;
	font-weight: 800;
}
p.intro a.capcode, p.intro a.nametag {
	color: magenta;
	margin-left: 0;
}
p.intro a.email, p.intro a.email span.name, p.intro a.email:hover, p.intro a.email:hover span.name {
	color: #DD3232;
}
input[type="text"], textarea, select {
	background: #333333;
	color: #CCCCCC;
	border: #666666 1px solid;
}
input[type="password"] {
	background: #333333;
	color: #CCCCCC;
	border: #666666 1px solid;
}
form table tr th {
	background: #333333;
	color: #AAAAAA;
	font-weight: 600;
	text-align: left;
}
div.banner {
	background: #E04000;
	border: 1px solid hsl(17, 100%, 60%);
	color: #EEE;
	text-align: center;
	height: 17px;
	width: calc(100% - 4px);
	padding: 3px 1px;
	margin-left: auto;
	margin-right: auto;
}
div.banner a {
    color:#000;
}
input[type="submit"] {
	background: #333333;
	border: #666 1px solid;
	color: #CCCCCC;
}
input[type="submit"]:hover {
	background: #555;
	border: #888 1px solid;
	color: #DD3232;
}
input[type="text"]:focus, textarea:focus {
    border:#888 1px solid;
}
p.fileinfo a:hover {
	text-decoration: underline;
}
span.trip {
	color: #AAA;
}
div.pages {
	color: #AAA;
	background: #333;
	border: #666 1px solid;
	font-family: sans-serif;
	font-size: 10pt;
}
div.pages a.selected {
	color: #CCC;
}
hr {
	height: 1px;
	border: #333 1px solid;
}
div.boardlist {
	color: #999;
    background-color: rgba(12%, 12%, 12%, 0.10);
}

div.ban {
	background-color: transparent;
	border: transparent 0px solid;
}
div.ban h2 {
	background: transparent;
	color: #DD3232;
	font-size: 12px;
}
table.modlog tr th {
	background: #333;
	color: #AAA;
}

div.report {
	color: #666;
}
.pages, .board_image, input, .reply, form table th, textarea, a img, select, .banner{
        -webkit-border-radius: 2px;
        -khtml-border-radius: 2px;
        -moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
        border-radius: 2px;
}
.blur { 
    filter: blur(20px); 
    -webkit-filter: blur(23px); 
    -moz-filter: blur(23px);
    -o-filter: blur(23px); 
    -ms-filter: blur(23px);
    filter: url(svg/blur.svg#blur); 
}
