body {
	background: #EEF2FF url('img/fade-blue.png') repeat-x 50% 0%;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	margin:1px 2px;
	padding:1px 2px;
}
table * {
	margin: 0;
}
a, a:visited {
	color: #34345C;
}
a:hover, p.intro a.post_no:hover {
	color: #ff0000;
}
a.post_no {
	text-decoration: none;
	margin: 0;
	padding: 0;
}
p.intro a.post_no {
	color: inherit;
}
p.intro a.post_no, p.intro a.email, p.intro a.post_anchor {
	margin: 0;
}
p.intro a.email span.name {
	color: #34345C;
}
p.intro a.email:hover span.name {
	color: #ff0000;
}
p.intro label {
	display: inline;
}
p.intro time, p.intro a.ip-link, p.intro a.capcode {
	direction: ltr;
	unicode-bidi: embed;
}
h2 {
	color: #AF0A0F;
	font-size: 11pt;
	margin: 0;
	padding: 0;
}
header {
	margin: 1em 0;
}
h1 {
	font-family: tahoma;
	letter-spacing: -2px;
	font-size: 20pt;
	margin: 0;
}
header div.subtitle, h1 {
	color: #AF0A0F;
	text-align: center;
}
header div.subtitle {
	font-size: 8pt;
}
form {
	margin-bottom: 4em;
}
form table {
	margin: auto;
}
form table input {
	height: auto;
}
input[type="text"], input[type="password"], textarea {
	border: 1px solid #a9a9a9;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	word-spacing: normal;
}
form table tr td {
	text-align: left;
	margin: 0;
	padding: 0;
}
form table.mod tr td {
	padding: 2px;
}
form table tr th {
	text-align: left;
	padding: 4px;
}
form table tr th {
	background: #98E;
}
form table tr td div.center {
	text-align: center;
	float: left;
	padding-left: 3px;
}
form table tr td div input {
	display: block;
	margin: 2px auto 0 auto;
}
form table tr td div label {
	font-size: 10px;
}
.unimportant, .unimportant * {
	font-size: 10px;
}
.file {
    float: left;
}
.file:not(.multifile) {
    float: none;
}
div.multifile {
	max-width: 100%;
}
p.fileinfo {
	display: block;
	margin: 0;
	padding-right: 20px;
}
div.banner {
	background-color: #E04000;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	margin: 1em 0;
}
div.banner, div.banner a {
	color: white;
}
div.banner a:hover {
	color: #EEF2FF;
	text-decoration: none;
}
img.board_image {
	display: block;
	border: 1px solid #a9a9a9;
	margin: 12px auto 0 auto;
	width: 300px;
	height: 100px;
}
.post-image, .video-container {
	display: block;
	float: left;
	margin: 0 2em 1em 0;
	border: none;
}
div.post .post-image, div.post .video-container {
	margin-right: 20px;
}
div.post.op {
	margin-right: 20px;
	margin-bottom: 5px;
}
div.post.op hr {
	border-color: #D9BFB7;
}
p.intro {
	margin: 0.5em 0;
	padding: 0;
	padding-bottom: 0.2em;
}
input.delete {
	float: left;
	margin: 1px 6px 0 0;
}
p.intro span.subject {
	color: #0F0C5D;
	font-weight: bold;
}
p.intro span.name {
	color: #117743;
	font-weight: bold;
}
p.intro span.capcode, p.intro a.capcode, p.intro a.nametag {
	color: #F00000;
	margin-left: 0;
}
p.intro a {
	margin-left: 8px;
}
div.delete {
	float: right;
}
div.post.reply p {
	margin: 0.3em 0 0 0;
}
div.post.reply div.body {
	margin: 0.8em 1.8em 0.3em 1.8em;
}
div.post.reply.highlighted {
	background: #D6BAD0;
}
div.post.reply div.body a {
	color: #D00;
}
div.post {
	max-width: 98%;
}
div.post div.body {
	word-wrap: break-word;
	white-space: pre-wrap;
}
div.post.reply {
	background: #D6DAF0;
	margin: 0.2em 0;
	padding: 0.2em 0.3em 0.5em 1em;
	border-width: 1px;
	border-style: none solid solid none;
	border-color: #B7C5D9;
	display: inline-block;
}
span.trip {
	color: #228854;
}
span.quote {
	color: #789922;
}
span.counterquote {
	color: #8766DD;
}
span.omitted {
	display: block;
	margin-top: 1em;
}
br.clear {
	clear: left;
	display: block;
}
span.controls {
	float: right;
	margin: 0;
	padding: 0;
	font-size: 80%;
}
span.controls.op {
	float: none;
	margin-left: 10px;
}
span.controls a {
	margin: 0;
}
div#wrap {
	width: 900px;
	margin:0 auto;
}
div.ban {
	background: white;
	border: 1px solid #98E;
	max-width: 700px;
	margin: 30px auto;
}
div.ban p, div.ban h2 {
	padding: 3px 7px;
}
div.ban h2 {
	background: #98E;
	color: black;
	font-size: 12pt;
}
div.ban p {
	font-size: 12px;
	margin-bottom: 12px;
}
div.ban p.reason {
	font-weight: bold;
}
span.heading {
	color: #AF0A0F;
	font-size: 11pt;
	font-weight: bold;
}
span.spoiler {
	background: black;
	color: black;
	padding: 0 1px;
}
div.post.reply div.body span.spoiler a {
	color: black;
}
span.spoiler:hover, div.post.reply div.body span.spoiler:hover a {
	color: white;
}
div.styles {
	float: right;
	padding-bottom: 20px;

}
div.styles a {
	margin: 0 10px;
}
div.styles a.selected {
	text-decoration: none;
}
table.test {
	width: 100%;
}
table.test td, table.test th {
	text-align: left;
	padding: 5px;
}
table.test tr.h th {
	background: #98E;
}
table.test td img {
	margin: 0;
}
fieldset label {
	display: block;
}
div.pages {
	color: #89A;
	background: #D6DAF0;
	display: inline;
	padding: 8px;
	border-right: 1px solid #B7C5D9;
	border-bottom: 1px solid #B7C5D9;
}
div.pages.top {
	display: block;
	padding: 5px 8px;
	margin-bottom: 5px;
	position: fixed;
	top: 0;
	right: 0;
	opacity: 0.9;
}
@media screen and (max-width: 800px) {
	div.pages.top {
		display: none !important;
	}
}
div.pages a.selected {
	color: black;
	font-weight: bolder;
}
div.pages a {
	text-decoration: none;
}
div.pages form {
	margin: 0;
	padding: 0;
	display: inline;
}
div.pages form input {
	margin: 0 5px;
	display: inline;
}
hr {
	border: none;
	border-top: 1px solid #B7C5D9;
	height: 0;
	clear: left;
}
div.boardlist {
	color: #89A;
	font-size: 9pt;
	margin-top: 3px;
}
div.boardlist.bottom {
	margin-top: 20px;
}
div.boardlist a {
	text-decoration: none;
}
div.report {
	color: #333;
}
table.modlog {
	margin: auto;
	width: 100%;
}
table.modlog tr td {
	text-align: left;
	margin: 0;
	padding: 4px 15px 0 0;
}
table.modlog tr th {
	text-align: left;
	padding: 4px 15px 5px 5px;
	white-space: nowrap;
}
table.modlog tr th {
	background: #98E;
}
td.minimal, th.minimal {
	width: 1%;
	white-space: nowrap;
}
div.top_notice {
	text-align: center;
	margin: 5px auto;
}
span.public_ban {
	display: block;
	color: red;
	font-weight: bold;
	margin-top: 15px;
}
span.toolong {
	display: block;
	margin-top: 15px;
}
div.blotter {
	color: red;
	font-weight: bold;
	text-align: center;
}
table.mod.config-editor {
	font-size: 9pt;
	width: 100%;
}
table.mod.config-editor td {
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid #98e;
}
table.mod.config-editor input[type="text"] {
	width: 98%;
}

#attention_bar {
  height: 1.5em;
  max-height: 1.5em;
  width: 100%;
  max-width: 100%;
  text-align: center;
  overflow: hidden;
}
#attention_bar_form {
  display: none;
  padding: 0;
  margin: 0;
}
#attention_bar_input {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
#attention_bar:hover {
  background-color: rgba(100%, 100%, 100%, 0.2);
}
p.intro.thread-hidden {
	margin: 0;
	padding: 0;
}

form.ban-appeal {
	margin: 9px 20px;
}
form.ban-appeal textarea {
	display: block;
}
.theme-catalog div.thread img {
	float:none!important;
	margin: auto;
	margin-bottom: 12px;
	max-height: 150px;
	max-width: 200px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.55);
	border: 2px solid rgba(153, 153, 153, 0);
}
.theme-catalog div.thread {
	display: inline-block;
	vertical-align: top;
	margin-bottom:25px;
	margin-left: 20px;
	margin-right: 15px;
	text-align:center;
	font-weight:normal;
	width:205px;      
	overflow:hidden;
	position: relative;
	font-size:11px;
	padding: 15px;
	max-height:300px;
        background: rgba(182, 182, 182, 0.12);
        border: 2px solid rgba(111, 111, 111, 0.34);
}
.theme-catalog div.thread strong {
    display: block;
}
.rate {
	background-color:rgba(255,0,255,0.1);
	color:#800;
	padding:2px 5px;
	line-height:1.5em;
	display:inline-block;
	font-family:monospace;
	white-space:pre-wrap
}