<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	{% include 'header.html' %}
	<script type="text/javascript">active_page = "page";</script>
	<title>{{ title }}</title>
</head>
<body>
	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr>{% endif %}
	<header>
		<h1>{{ title }}</h1>
		<div class="subtitle">
			{% if subtitle %}
				{{ subtitle }}
			{% endif %}
			{% if mod and not hide_dashboard_link %}<p><a href="?/">{% trans %}Return to dashboard{% endtrans %}</a></p>{% endif %}
		</div>
	</header>
	{{ body }}
	<hr>
	<footer>
	<p class="unimportant" style="margin-top:20px;text-align:center;">2013-2014 Alokal.eu<br>Založené na <a target="_blank" href="https://github.com/vichan-devel/vichan.git">vichan</a></p>
	</footer>
</body>
</html>
