<form name="post" onsubmit="return dopost(this);" enctype="multipart/form-data" action="{{ config.post_url }}" method="post">
{{ antibot.html() }}
{% if id %}<input type="hidden" name="thread" value="{{ id }}">{% endif %}
{{ antibot.html() }}
<input type="hidden" name="board" value="{{ board.uri }}">
{{ antibot.html() }}
{% if current_page %}
	<input type="hidden" name="page" value="{{ current_page }}">
{% endif %}
{% if mod %}<input type="hidden" name="mod" value="1">{% endif %}
	<table>
		{% if not config.field_disable_name or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri)) %}<tr>
			<th>
				{% trans %}Name{% endtrans %}
				{{ antibot.html() }}
			</th>
			<td>
				<input type="text" name="name" size="25" maxlength="35" autocomplete="off">
				{{ antibot.html() }}
			</td>
		</tr>{% endif %}
		{% if not config.field_disable_email or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri)) %}<tr>
			<th>
				{% trans %}Email{% endtrans %}
				{{ antibot.html() }}
			</th>
			<td>
				{% if config.field_email_selectbox %}
				<select name="email" id="email_selectbox">
					<option value="">{% trans %}none{% endtrans %}</option>
					<option value="sage">sage</option>
					{% if not config.always_noko %}<option value="noko">noko</option>{% endif %}
				</select>
				{% else %}
				<input type="text" name="email" size="25" maxlength="40" autocomplete="off">
				{% endif %}
				{{ antibot.html() }}
				{% if not (not (config.field_disable_subject or (id and config.field_disable_reply_subject)) or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri))) %}
				<input accesskey="s" style="margin-left:2px;" type="submit" name="post" value="{% if id %}{{ config.button_reply }}{% else %}{{ config.button_newtopic }}{% endif %}" />{% if config.spoiler_images %} <input id="spoiler" name="spoiler" type="checkbox"> <label for="spoiler">{% trans %}Spoiler Image{% endtrans %}</label>				{% endif %}
				{% endif %}
				{{ antibot.html() }}
			</td>
		</tr>{% endif %}
		{% if not (config.field_disable_subject or (id and config.field_disable_reply_subject)) or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri)) %}<tr>
			<th>
				{% trans %}Subject{% endtrans %}
				{{ antibot.html() }}
			</th>
			<td>
				<input style="float:left;" type="text" name="subject" size="25" maxlength="100" autocomplete="off">
				<input accesskey="s" style="margin-left:2px;" type="submit" name="post" value="{% if id %}{{ config.button_reply }}{% else %}{{ config.button_newtopic }}{% endif %}" />{% if config.spoiler_images %} <input id="spoiler" name="spoiler" type="checkbox"> <label for="spoiler">{% trans %}Spoiler Image{% endtrans %}</label>{% endif %}
			</td>
		</tr>
		{% endif %}
		{% if config.user_flag %}
			<tr>
				<th>{% trans %}Flag{% endtrans %}</th>
				<td>
					<select name="user_flag" id="user_flag">
						<option value="">{% trans %}None{% endtrans %}</option>
						{% for flag, text in config.user_flags %}
							<option value="{{ flag }}">{{ text }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
		{% endif %}
		<tr>
			<th>
				{% trans %}Comment{% endtrans %}
				{{ antibot.html() }}
			</th>
			<td>
				<textarea name="body" id="body" rows="5" cols="35"></textarea>
				{{ antibot.html() }}
				{% if not (not (config.field_disable_subject or (id and config.field_disable_reply_subject)) or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri))) %}
				{% if not (not config.field_disable_email or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri))) %}
				<input accesskey="s" style="margin-left:2px;" type="submit" name="post" value="{% if id %}{{ config.button_reply }}{% else %}{{ config.button_newtopic }}{% endif %}" />{% if config.spoiler_images %} <input id="spoiler" name="spoiler" type="checkbox"> <label for="spoiler">{% trans %}Spoiler Image{% endtrans %}</label>{% endif %}
				{% endif %}
				{% endif %}
			</td>
		</tr>
		{% if config.recaptcha %}
		<tr>
			<th>
				{% trans %}Verification{% endtrans %}
				{{ antibot.html() }}
			</th>
			<td>
				<script type="text/javascript" src="//www.google.com/recaptcha/api/challenge?k={{ config.recaptcha_public }}"></script>
				{{ antibot.html() }}
			</td>
		</tr>
		{% endif %}
		<tr id="upload">
			<th>
				{% trans %}File{% endtrans %}
			</th>
			<td>
				<input type="file" name="file" id="upload_file">
				{% if config.max_images > 1 %}
					{% for i in 2..config.max_images %}
						<br><input type="file" name="file{{ i }}" id="upload_file{{ i }}">
					{% endfor %}
				{% endif %}
				{{ antibot.html() }}
			</td>
		</tr>
		{% if config.enable_embedding or config.allow_upload_by_url %}
		<tr id="upload_url">
			<th>
				{% trans %}URL{% endtrans %}
				{{ antibot.html() }}
			</th>
			<td>
				<input type="text" name="remote_url" value="" size="30" maxlength="120" autocomplete="off">
			</td>
		</tr>
		{% endif %}
		{% if mod and ((not id and post.mod|hasPermission(config.mod.sticky, board.uri)) or (not id and post.mod|hasPermission(config.mod.lock, board.uri)) or post.mod|hasPermission(config.mod.rawhtml, board.uri)) %}
		<tr>
			<th>
				{% trans %}Flags{% endtrans %}
			</th>
			<td>
				{% if not id and post.mod|hasPermission(config.mod.sticky, board.uri) %}<div class="center">
					<label for="sticky">{% trans %}Sticky{% endtrans %}</label>
					<input title="{% trans %}Sticky{% endtrans %}" type="checkbox" name="sticky" id="sticky"><br>
				</div>{% endif %}
				{% if not id and post.mod|hasPermission(config.mod.lock, board.uri) %}<div class="center">
					<label for="lock">{% trans %}Lock{% endtrans %}</label><br>
					<input title="{% trans %}Lock{% endtrans %}" type="checkbox" name="lock" id="lock">
				</div>{% endif %}
				{% if post.mod|hasPermission(config.mod.rawhtml, board.uri) %}<div class="center">
					<label for="raw">{% trans %}Raw HTML{% endtrans %}</label><br>
					<input title="{% trans %}Raw HTML{% endtrans %}" type="checkbox" name="raw" id="raw">
				</div>{% endif %}
			</td>
		</tr>
		{% endif %}
		{% if not config.field_disable_password or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri)) %}<tr>
			<th>
				{% trans %}Password{% endtrans %}
				{{ antibot.html() }}
				<input type='text' style='display: none'>
				<input type='password' style='display: none'>
			</th>
			<td>
				<input type="password" name="password" value="" size="12" maxlength="18" autocomplete="off"> 
				<span class="unimportant">{% trans %}(For file deletion.){% endtrans %}</span>
				{{ antibot.html() }}
			</td>
		</tr>{% endif %}
	</table>
{{ antibot.html(true) }}
<input type="hidden" name="hash" value="{{ antibot.hash() }}">
</form>

<script type="text/javascript">{% raw %}
	rememberStuff();
{% endraw %}</script>
