{% filter remove_whitespace %}
{# tabs and new lines will be ignored #}
<div class="post reply" id="reply_{{ post.id }}">
<p class="intro">
	{% if not index %}<a id="{{ post.id }}" class="post_anchor"></a>{% endif %}
	<input type="checkbox" class="delete" name="delete_{{ post.id }}" id="delete_{{ post.id }}" />
		{% include 'post/subject.html' %}
		{% include 'post/flag.html' %}
		{% include 'post/name.html' %}
		{% include 'post/ip.html' %}
		{% include 'post/time.html' %}
	{% include 'post/poster_id.html' %}&nbsp;
	<a class="post_no" id="post_no_{{ post.id }}" onclick="highlightReply({{ post.id }})" href="{% if isnoko50 %}{{ post.link('', config.link_page50) }}{% else %}{{ post.link }}{% endif %}">{% trans %}No.{% endtrans %}</a>
	<a class="post_no" onclick="citeReply({{ post.id }})" href="{% if isnoko50 %}{{ post.link('q', config.link_page50) }}{% else %}{{ post.link('q') }}{% endif %}">{{ post.id }}</a>
	</p>
	{% include 'post/fileinfo.html' %} 
	{% include 'post/post_controls.html' %}
	<div class="body" {% if post.files|length > 1 %}style="clear:both"{% endif %}>
		{% endfilter %}{% if index %}{{ post.body|truncate_body(post.link) }}{% else %}{{ post.body }}{% endif %}{% filter remove_whitespace %}
		{% if post.modifiers.rate %}
			<br><br>
			<span class="rate"><b>{% trans %}Rating{% endtrans %}:</b> {{ post.modifiers.rate }}</span>
		{% endif %}
		{% if post.modifiers['ban message'] %}
			{{ config.mod.ban_message|sprintf(post.modifiers['ban message']) }}
		{% endif %}
	</div>
</div>
<br/>
{% endfilter %}
