	{% if post.embed %}
		{% if post.modifiers.yt_title %}
			<p class="fileinfo">►YouTube: {{ post.modifiers.yt_title }}<br><span class="unimportant">({{ post.modifiers.yt_duration }}, {% trans %}uploader{% endtrans %}: {{ post.modifiers.yt_channelTitle }}, {% trans %}uploaded at:{% endtrans %} {{ post.modifiers.yt_publishedAt }})</span></p>
			{% endif %}
		{{ post.embed }}
	{% else %}
	<div class="files">
	{% for file in post.files %}
		<div {% if file.title %}title="{% trans %}Title{% endtrans %} - {{ file.title }}{% if file.album %}&#10;{% trans %}Album{% endtrans %} - {{ file.album }}{% endif %}{% if file.artist %}&#10;{% trans %}Artist{% endtrans %} - {{ file.artist }}{% endif %}{% if file.year %}&#10;{% trans %}Year{% endtrans %} - {{ file.year }}{% endif %}" {% endif %}class="file{% if post.num_files > 1 %} multifile"{% else %}"{% endif %}>
	{% if file.file == 'deleted' %}
		<img class="post-image deleted" src="{{ config.image_deleted }}" alt="" />
	{% else %}
		<p class="fileinfo"><a target="_blank" href="{{ config.uri_img }}
		{% if config.show_filename and file.filename %}
			{% if config.download_filename and file.file_id %}
				{{ file.file_id }}/{{ file.filename|e|bidi_cleanup|url_encode }}
			{% else %}
				{{ file.file }}
			{% endif %}
			"
			{% if file.filename|length > config.max_filename_display %}
				 title="{{ file.filename|e|bidi_cleanup }}"
				>{{ file.filename|truncate_filename(config.max_filename_display)|e|bidi_cleanup }}
			{% else %}
				>{{ file.filename|e|bidi_cleanup }}
			{% endif %}
		{% else %}
			>{{ file.file }}
		{% endif %}
			</a><br><span class="unimportant">
		(
			{% if file.thumb == 'spoiler' %}
				{% trans %}Spoiler Image{% endtrans %}, 
			{% endif %}
			{{ file.size|filesize }}
			{% if file.duration %}
				, {{ file.duration }}
			{% endif %}
			{% if file.width and file.height %}
				, {{ file.width }}x{{ file.height }}
				{% if config.show_ratio %}
					, {{ ratio(file.width, file.height) }}
				{% endif %}
			{% endif %}
		)
			{% include "post/image_identification.html" %}
			{% include "post/file_controls.html" %}</span></p>
	{% include "post/image.html" with {'post':file} %}
	{% endif %}
</div>
	{% endfor %}
</div>
	{% endif %}
