{% if file.is_an_audio %}
<video controls preload="none" class="post-image" poster="			{% if post.thumb == 'file' %}
				{{ config.root }}
				{% if config.file_icons[post.filename|extension] %}
					{{ config.file_thumb|sprintf(config.file_icons[post.filename|extension]) }}
				{% else %}
					{{ config.file_thumb|sprintf(config.file_icons.default) }}
				{% endif %}
			{% elseif post.thumb == 'spoiler' %}
				{{ config.root }}{{ config.spoiler_image }}
			{% else %}
				{{ config.uri_thumb }}{{ post.thumb }}
			{% endif %}" src="{{ config.uri_img }}
	{% if config.download_filename and file.file_id %}
		{{ file.file_id }}/{{ file.filename|e|bidi_cleanup|url_encode }}
	{% else %}
		{{ post.file }}
	{% endif %}" style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px"></video>
{% else %}
<a target="_blank" href="{{ config.uri_img }}
	{% if config.download_filename and file.file_id %}
		{{ file.file_id }}/{{ file.filename|e|bidi_cleanup|url_encode }}
	{% else %}
		{{ post.file }}
	{% endif %}"
	{% if post.thumb == 'file' or post.modifiers['is_file'] == '1' or post.filename|extension == 'webm' or post.filename|extension == 'mp4' %}
		 class="file"
	{% endif %}
>
	<img class="post-image" 
		src="
			{% if post.thumb == 'file' %}
				{{ config.root }}
				{% if config.file_icons[post.filename|extension] %}
					{{ config.file_thumb|sprintf(config.file_icons[post.filename|extension]) }}
				{% else %}
					{{ config.file_thumb|sprintf(config.file_icons.default) }}
				{% endif %}
			{% elseif post.thumb == 'spoiler' %}
				{{ config.root }}{{ config.spoiler_image }}
			{% else %}
				{{ config.uri_thumb }}{{ post.thumb }}
			{% endif %}
		"
		 style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px" alt="" 
	/>
</a>
{% endif %}
