{% if file.thumb != 'file' and config.image_identification %}
	 
	<span class='image_id'>
		{% if config.image_identification_imgops %}
			<a href="http://imgops.com/{{ config.uri_img }}{{ file.file }}" target="_blank">ImgOps</a> 
		{% endif %}
		{% if config.image_identification_exif and file.file|extension == 'jpg' %}
			<a href="http://regex.info/exif.cgi?url={{ config.uri_img }}{{ file.file }}" target="_blank">Exif</a> 
		{% endif %}
		{% if config.image_identification_google %}
			<a href="https://www.google.com/searchbyimage?image_url={{ config.domain }}
			{% if file.is_an_audio or file.is_a_video %}
				{{ config.uri_thumb }}{{ file.thumb }}
			{% else %}
				{{ config.uri_img }}{{ file.file_id }}/{{ file.filename|e|bidi_cleanup|url_encode }}
			{% endif %}
				" target="_blank">Google</a>
		{% endif %}
		{% if config.image_identification_iqdb %}
			<a href="http://iqdb.org/?url={{ config.uri_img }}{{ file.file }}" target="_blank">iqdb</a>
		{% endif %}
	</span>
{% endif %}
